@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome all</h1>
    <p>Learn about EDraw for Kids. Coming soon more content and details</a>.</p>
    
</div>
